* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    direction: rtl;
    padding: 0;
}

:root {
    --global1: #000;
    --global2: #fff;
    --global3: #0069e0;
}
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 45px;
    color: #6c757d;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 1.5rem;
  }
  .flex {
    display: flex;
    gap: 25px;
  }
  .flex-align-center {
    align-items: center;
  }
  .flex-justify-center {
    justify-content: center;
  }
  .flex-justify-start {
    justify-content: flex-start;
  }
  .flex-justify-end {
    justify-content: flex-end;
  }
  .flex-justify-between {
    justify-content: space-between;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-column {
    flex-direction: column;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .d-block {
    display: block;
    margin: auto;
  }
  button {
    padding: 5px 15px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
    transition: 0.3s;
  }
  button:hover {
    background: #fff;
    color: #000;
  }

.container {
  margin: auto !important;
  max-width: 1320px !important;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

  .row {
    padding: 30px 20px 30px 20px;
    max-width: 1200px;
    margin: auto;
  }
  .white-text * {
    color: #fff;
  }

   /*---------------------------------------------
  ------------------- HEADER --------------------
  ----------------------------------------------*/

  header {
    padding: 15px 20px 15px 20px;
    background: #074e9c;
    position: sticky;
    top: 0;
    z-index: 99999;
  }
  header li a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
  }

  header li a {
    position: relative;
  }
  header li a:hover:after {
    width: 100%;
  }
  header:after {
    content: "";
    position: absolute;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: -1;
    top: -100%;
    transition: 0.2s;
    left: 0;
  }

  header.scrolled:after {
    top: 0%;
  }
  header.scrolled * {
    color: #000;
  }

  header.scrolled button {
    color: #0069e0;
    border-color: #0069e0;
  }

  header.scrolled button:hover {
    background: #0069e0;
    color: #fff;
  }

  header img.blue,
  header.scrolled .white {
    display: none;
  }

  header img.white,
  header.scrolled .blue {
    display: block;
  }

  header.scrolled li a:after {
    background: #000;
  }
  header i.fa.fa-search {
    transform: scaleX(-1);
  }
  header .menu-div ul {
    column-gap: 50px;
  }


  /*---------------------------------------------
  ------------------- FOOTER --------------------
  ----------------------------------------------*/
  footer ul a:hover {
    color: var(--global3);
  }
  footer .footer-menu-1 {
    max-width: 1000px;
  }
  .footer-menu-2 .col {
    max-width: 650px;
    margin: auto;
  }
  .footer-menu-2 {
    border-top: 1px solid #00000036;
    border-bottom: 1px solid #00000036;
  }
  footer .footer-social i {
    font-size: 30px;
    color: #6c757d;
  }
  footer section.footer-bg {
    background-image: url(https://diyun.jmbliss.com/static/media/new-white-footer.5cef0c82b98decd934bc.png);
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .menu-div {
      position: fixed;
      bottom: 0;
      background: #133153;
      width: 100%;
      left: 0;
      text-align: center;
      padding: 10px 20px;
    }

    .menu-div ul {
      padding: 0;
      justify-content: space-between;
    }
    .menu-div ul a ,.menu-div ul i{
      color: #fff;
    }
    .footer-menu {
      row-gap: 40px;
      flex-direction: column;
    }
    footer .footer-menu-1,
    .footer-menu-2 .col {
      flex-direction: column;
      row-gap: 30px;
    }
    .footer-social {
      justify-content: center;
    }
    footer section.footer-bg {
      padding-bottom: 40px;
      background-size: cover;
    }
  }


.login-form, .signup-form {
    display: none; /* Hidden by default */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#multistep-form-container {
    display: none; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#multistep-form-container .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



  /*----------------------------------------------
  ------------------- HOME PAGE ------------------
  ----------------------------------------------*/

/***** Banner ******/

section.home-banner{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

section.home-banner .container {
  display:flex;
  flex-direction: column;
}

section.home-banner h1 {
      color: #fff;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-align:center;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 56px;
  margin-bottom: 15px;
}

ul.tag-flex-wrap {
  display:flex;
  justify-content: center;
  margin-bottom: 15px;
}

.tags-btn a{
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  margin-bottom: 15px !important;
  margin-right: .5rem !important;
  margin-left: .5rem !important;
  padding: 5px 18px;
  transition: .5s;
}

.btn.tag-page-redi {
  color: #fff;
  text-decoration: underline !important;
  text-align: center !important;
  width: fit-content;
  margin: auto;
}


/****** HOME DEBATE TAB *******/

.debate-card .card-img-div img{
  width:100%;
}

.home-debate-tabs{
  padding-top:60px;
}

.home-debate-tabs .row1 {
  display: flex;
  column-gap: 30px;
  margin-bottom: 30px;
}

.home-debate-tabs .data-col {
  width:32%;
  display: grid;
  row-gap: 30px;
}

.home-debate-tabs .col1 {
  width: 66%;
}

.four-card-grid{
  display: grid;
  grid-template-columns:1fr 1fr !important;
  gap:30px;
}


.global-statistics-card {
  padding: 1.5rem !important;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius:0.375rem;
}

.statistics-card__header {
  display: flex;
  margin-bottom: 1.5rem;
}

.statistics-card__title {
  margin-right:12px;
  color: #000;
  font-weight: 700;
}

.statistics-card__title span{
      font-size: 18px;
}

.icon--global-stats {
  height: 16px !important;
  width: 16px;
}

.statistics-title {
  display:flex;
}

p.global-statistics-item__header-label {
  margin-right: 16px;
}

p.global-statistics-item__count {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 5px;
}

hr {
  margin: 1rem 0;
  opacity: .75;
}

.contributor.contributor-item {
  display: flex;
  align-items: center;
}

.top-contributors-card img.avatar {
  border-radius: 100%;
  height: 40px;
  margin-right: 15px;
  margin-left: 15px;
  max-height: 40px;
  object-position: top;
  width: 40px;
}

.top-contributors-card p.contributor-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.top-contributors-card p.contributor-subtitle {
  font-size: 14px;
}

.debate-card {
  border: 1px solid #c7c8c9;
  border-radius:0.375rem;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content-body {
  padding: 1rem !important;
}

.color-text-icon {
  display:flex;
  align-items: center;
  border-top: 1px solid #c7c8c9;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 15px 0 !important;
  width: calc(100% - 35px);
}

.debate-card__stat {
  display:flex;
  margin-left: 30px;
  column-gap: 2px;
}

.debate-card .color-text-icon p {
  margin-left: 2% !important;
  color:#818b98 !important;
}

.debate-card .color-text-icon svg {
  margin-left: 3px;
  margin-right: 1%;
  stroke:#818b98;
  fill:#818b98 ;
}

.debate-card .debate-card-stats__participants svg,
.debate-card .debate-card-stats__claims svg {
    fill:none !important;
}

ul.card-grid {
      grid-column-gap: 30px;
  grid-row-gap: 30px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


  /*----------------------------------------------
  ------------------- TAGS PAGE ------------------
  ----------------------------------------------*/

  section.tags-page-banner {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}

.tags-page-banner h2.explore-page__headline {
    color: #fff;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    text-align:center;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-top: 56px;
}

.tag-card-grid {
    grid-gap: 30px;
    display: grid;
    gap: 30px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1225px;
    overflow: hidden;
}

.mt-5 {
    margin-top: 3rem !important;
}

.tag-card-glob{
    background-size:cover;
    border-radius:5px;
background-color:#0662ab;
}

h4.fw-bold {
    padding: 3rem !important;
    color: #fff;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    text-align:center;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
}


  /*----------------------------------------------
  --------------- TAG SINGLE PAGE ----------------
  ----------------------------------------------*/

  section.tag-single-banner {
    padding: 6rem 0px!important;
    background-color:#0662ab;
    background-position: center;
    display: block;
    position: relative;

}

section.tag-single-banner::after {
  content: "";
  background: rgb(0 0 0 / 30%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section.tag-single-banner .container{
  z-index: 99;
  position: relative;
}

section.tag-single-banner h1 {
    color: #fff;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    text-align:center;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}

section.tag-single-banner p {
    color: #fff;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    text-align:center;
    line-height: 1.2;
}



  /*----------------------------------------------
  --------------- DEBATE SINGLE PAGE ----------------
  ----------------------------------------------*/


  /* HEADER */
  .header-row.topbar--on-discussion {
    display:flex;
    justify-content: space-between;
}

.topbar--on-discussion .col-1.topbar--col1 {
    display:flex;
    /* justify-content: space-around; */
    width: 50%;
}

.topbar--on-discussion .col-2.topbar--col2 {
    width: 50%;
    display: flex;
    /* float: left; */
    justify-content: flex-end;
    column-gap: 10px;
}

.topbar-title.debate-single-title {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

p.topbar-debate-title {
  color: #fff;
  font-size: 20px;
}

.sidebar-menu {
  position: fixed;
  left: -250px; /* Hidden by default */
  width: 250px;
  height: 100%;
  background-color: #fff;
  color: black;
  transition: left 0.3s;
  padding: 20px;
  z-index: 1000;
}

.sidebar-menu.active {
  left: 0; /* Show the sidebar */
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu ul li {
  padding: 10px 0;
}

.sidebar-menu ul li a {
  color: black;
  text-decoration: none;
}

.sidebar-menu ul li a:hover {
  text-decoration: underline;
}

.single-sidebar-menu__header {
  display: flex;
  justify-content: space-between;
}


.single-sidebar-menu__item-myClaims,
.single-sidebar-menu__item-myContri{
  position: absolute;
  left: -250px; /* Hidden by default */
  width: 250px;
  top:0;
  height: 100%;
  background-color: #fff;
  color: black;
  transition: left 0.3s;
  padding: 20px;
  z-index: 1001;
}

.single-sidebar-menu__item-myClaims.active,
.single-sidebar-menu__item-myContri.active {
  left: 0;
}


/* MAIN BODY */

.debate-single-content.sidebar-active {
  margin-left: 240px;
}

  section.debate-single-content {
    background-color:rgb(242, 244, 245);
}

.content__body-container {
    width:100%;
    max-width:1000px;
    margin: auto;
    margin-top:100px;
    margin-bottom:200px
}

.claim-card {
    padding: 20px;
    border-radius:10px;
    cursor: pointer;
    background-color: #fff;
}


.columns-container{
    margin-top:20px;
}

.columns-container__column-headers {
    display:flex;
    
}

.column-box.column-box--header--pro,
.column-box.column-box--header--con {
    width: 50%;
}

.column-box--header--pro--contents,
.column-box--header--con--contents{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    padding: 5px;
    border:1px solid #dee2e6;
    border-radius:10px;
    background-color: #fff;
    align-items: center;
}

.column-box.column-box--header--pro{
    margin-left:5px;
}

.column-box.column-box--header--con{
    margin-right:5px;
}

p.column-box--pro--info,
p.column-box--con--info {
    width:75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

p.column-box--pro--info{
    color:#198754;
}

p.column-box--con--info{
    color:#dc3545;
}

button.btn-danger.btn.add-pro-btn {
    font-size: 25px;
    color:white;
    background-color:#198754;
    padding: 0px 12px 5px;
    cursor: pointer;
    margin-right: 15px;
}

button.btn-danger.btn.add-cons-btn {
        font-size: 25px;
    color:white;
    background-color:#dc3545;
    padding: 0px 12px 5px;
    cursor: pointer;
    margin-right: 15px;
}

.columns-container__column-contents {
    display: flex;
    margin-top: 10px;
}

.column-box.column-box--claims{
    width:50%;
}

.column-box--claims-pro {
    margin-left:5px;
}

.column-box--claims-con {
    margin-right:5px;
}

.root-debate-claim .claim-card {
  border: 2px solid #1d67ac;
}

.con-child-claim .claim-card:hover{
    border:1px solid #dc3545;
}

.pro-child-claim .claim-card:hover{
    border:1px solid #198754;
}

.add-child-form-container {
    margin-top:10px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

.add-child-form-container input.child-form-input {
    width:100%;
    height: 150px;
    color: #656f7b;
    cursor: text;
    font-weight: 300;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
}

.add-con-form input.child-form-input{
    border-color:#dc3545;
}

.add-pro-form input.child-form-input{
    border-color:#198754;
}

.add-child-form-container p.char-count {
    font-size: 12px;
    padding: 5px;
    color: #074e9c;
    font-weight: 600;
}

.add-child-form-container button.child-form-submit {
    padding: 15px;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 15px;
    color: #074e9c;
    border: 1px solid #074e9c;
    cursor: pointer;
}

.add-child-form-container button.child-form-submit:hover{
    color: #fff;
    background-color:#074e9c;
}

.add-child-form-container button.close-form-btn {
    padding: 15px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 15px;
    color: #656f7b;
    border: 1px solid #656f7b;
    cursor: pointer;
}

.add-child-form-container button.close-form-btn:hover{
    color: #fff;
    background-color:#656f7b; 
}


.actionable-claim .claim-card.child-claim-card {
    margin-bottom:10px
}

.ancestor-stack {
  min-width: 508px;
  width: 50%;
  margin:auto;
  margin-bottom:10px;
}


.ancestor-claim-container .ancestor-claim:not(:last-child) {
  margin-bottom:10px;
}

.ancestor-claim-container .ancestor-claim{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius:10px
}


/***** VOTE PROGRESS BAR *****/

.root-debate-claim .progress-bar {
  background-color:#1d67ac;
}

.con-child-claim .progress-bar {
  background-color:#dc3545;
}

.pro-child-claim .progress-bar {
  background-color:#198754;
}


.progress-bar-container {
  width: 100px !important;
  border-radius: 5px;
  overflow: hidden;
  height: 5px !important;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  color: white;
  text-align: center;
  line-height: 20px;
  transition: width 0.3s;
}

.root-debate-claim .progress-bar-container {
  border:1px solid #1d67ac;
}

.con-child-claim .progress-bar-container {
  border:1px solid #dc3545;
}

.pro-child-claim .progress-bar-container {
  border:1px solid #198754;
}

  /*----------------------------------------------
  --------------- DEBATE SETTING PAGE ----------------
  ----------------------------------------------*/

img.settings-debate-img {
  width:600px;
}